<style>
  div { text-align: center; }
</style>

<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
</div>

<div style="margin-top: 40px;">
    <%= form.label :image %>
    <%= form.file_field :image %>
</div>

<div style="margin-top: 100px;",>
    <%= form.submit %>
</div>
<% end %>
