<style>
  .card { text-align: center; }
  p { margin-top: 20px; }
</style>

<body>

<div class="card" style="width:400px; background-image:'download.jpeg'; margin-left: 30px;">

  <p>
  <% if @article.image.attached? %>
  <%= image_tag(@article.image) %>
  <% end %>
  </p>

  <div class="card-header">
    <h2><%= @article.title %></h2>
  </div>

  <div class="card-body">
    <p><%= @article.body %></p>
  </div>

</div>


<div style="margin-top: 50px; padding-top: 10px; margin-left: 50px; color: midnightblue;">

<h6>
  <% if current_user.id == @article.user_id %>
      <%= button_to "Edit", edit_article_path(@article), :method => :get %>
      <%= button_to "Delete", article_path(@article), :method => :delete %>
  <% end %>
</h6>

<h4>Comments</h4>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>

</div>

</body>
